COMPOSE_FILE=docker-compose.yaml:docker-compose.prod.yaml
TERO_FTP_HOST=
TERO_FTP_PORT=
TERO_FTP_ROOTDIR=
TERO_FTP_PASSIVE_PORTS_MIN=
TERO_FTP_PASSIVE_PORTS_MAX=
PGSQL_NAME=
PGSQL_USER=
PGSQL_SECRET=
PGSQL_HOST=
REDIS_HOST=
REDIS_PORT=
INSTALL_REQUIREMENTS=1
CREATE_VIRTUALENV=1
FTPD_MASQUERADE_ADDRESS=
