COMPOSE_FILE=docker-compose.yaml:docker-compose.prod.yaml
TERO_FTP_HOST=
TERO_FTP_PORT=
TERO_FTP_ROOTDIR=
TERO_FTP_PASSIVE_PORTS_MIN=
TERO_FTP_PASSIVE_PORTS_MAX=
DJANGO_LOGS
PGSQL_NAME=
PGSQL_USER=
PGSQL_SECRET=
PGSQL_HOST=
REDIS_HOST=
